NODE_ENV=development
NEXT_PUBLIC_BASE_URL=http://localhost:3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/kr_store
SESSION_SECRET=change-me
ADMIN_LOGIN=admin
# generate by: node -e "console.log(require('bcryptjs').hashSync('admin123',10))"
ADMIN_PASSWORD_HASH=

GOOGLE_SHEET_ID=
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

AVITO_CLIENT_ID=
AVITO_CLIENT_SECRET=
